# 51-55

In [6]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [7]:
movie_rank.append('베트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [8]:
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [9]:
a = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']
del a[3]
del a[3]
a

['닥터 스트레인지', '슈퍼맨', '스플릿']

# 56-60

In [10]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
b = lang1 + lang2
print(b)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [11]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('max :', max(nums))
print('min :', min(nums))

max : 7
min : 1

In [12]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [13]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [14]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

# 61-70

In [15]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [16]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [17]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [18]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [19]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[::2])

['삼성전자', 'Naver']

In [20]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

# 71-80

In [21]:
my_variable = ()
print(my_variable)
print(type(my_variable))

()
<class 'tuple'>

In [22]:
movie_rank = ('닥텨스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥텨스트레인지', '스플릿', '럭키')

In [23]:
a = (1, )
print(a)

(1,)

In [24]:
t = (1, 2, 3)
t[0] = 'a'

# tuple은 원소(element)의 값을 변경할 수 없습니다.

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = 1, 2, 3, 4
print(type(t))
# 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.

<class 'tuple'>

In [ ]:
t = ('a', 'b', 'c')
# t[0] = 'A' << 튜플의 값은 변경할 수 없기 때문에, 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))
print(type(list(interest)))

['삼성전자', 'LG전자', 'SK Hynix']
<class 'list'>

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
c = tuple(interest)
print(c)
print(type(c))

('삼성전자', 'LG전자', 'SK Hynix')
<class 'tuple'>

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 81-90

In [ ]:
a, b, *c = (0, 1, 2, 3, 4, 5)
a

0

In [ ]:
b

1

In [ ]:
c

[2, 3, 4, 5]

In [ ]:
# 81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [2]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [3]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [5]:
#84
temp = {}
print(temp)
print(type(temp))

{}
<class 'dict'>

In [6]:
#85
dic = {'메로나': 1000, 
       '폴라포': 1200, 
       '빵빠레': 1800}
print(dic)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [11]:
#86
dic = {'메로나': 1000, 
       '폴라포': 1200, 
       '빵빠레': 1800}
dic['죠스바'] = 1200
dic['월드콘'] = 1500
print(dic)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [13]:
#87
print('메로나 가격:', dic['메로나'])

메로나 가격: 1000

In [15]:
#88
dic['메로나'] = 1300
print(dic)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [17]:
#89
del(dic['메로나'])
print(dic)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [23]:
#90 누가바라는 키가 없기 때문에 

>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

SyntaxError: invalid syntax (2165918197.py, line 2)

In [33]:
#91
inventory = {'메로나': [300,20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]
}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [36]:
#92
print(inventory['메로나'][0], '원')

300 원

In [37]:
#93
print(inventory['메로나'][1], '개')

20 개

In [38]:
#94
inventory = {'메로나': [300,20],
             '비비빅': [400, 3],
             '죠스바': [250, 100]
}
inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [56]:
#95
inventory = {'메로나': [300,20],
             '비비빅': [400, 3],
             '죠스바': [250, 100],
             '월드콘': [500, 7]
}
print(inventory.keys())

dict_keys(['메로나', '비비빅', '죠스바', '월드콘'])

In [71]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# print(inventory.values())
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [74]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(list((icecream.values()))))

6700

In [77]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [86]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
print(dict(zip(keys, vals)))

{'apple': 300, 'pear': 250, 'peach': 400}

In [87]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}