# Numpy Quiz

## Q1. 다음과 같은 리스트를 이용하여 넘파이 배열을 만들고 전체 갯수, 차원, 데이터형, 구조를 출력하여라
```
['강아지', '원숭이', '꽃', '45', '100']

array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U3')
차원 ? 1
전체 갯수 ? 5
데이터형 ? <U3
전체 구조  ? (5,)
```

In [26]:
import numpy as np
list=['강아지', '원숭이', '꽃', '45', '100']
mlist = np.array(list)
print(mlist)
print(f'차원:{mlist.ndim}, 전체 갯수:{len(mlist)}, 데이터형:{mlist.dtype}, 전체 구조 : {mlist.shape}')

['강아지' '원숭이' '꽃' '45' '100']
차원:1, 전체 갯수:5, 데이터형:<U3, 전체 구조 : (5,)

## Q2. np.ones()를 이용하여2행 3열의 넘파이 배열을 생성하여라

array([[1., 1., 1.],
       [1., 1., 1.]])

In [27]:
array = np.ones((2,3))
print(array)

[[1. 1. 1.]
 [1. 1. 1.]]

## Q3. np.arange(), np.reshape()를 이용하여 다음과 같은 넘파이 배열을 생성하여라
```
array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])
```

In [28]:
# 51부터 80까지의 연속된 정수를 생성하고 6x5 형태로 재구성
array = np.arange(51, 81).reshape(6, 5)

print(array)

[[51 52 53 54 55]
 [56 57 58 59 60]
 [61 62 63 64 65]
 [66 67 68 69 70]
 [71 72 73 74 75]
 [76 77 78 79 80]]

## Q4. Q3의 넘파이 배열의 자료형을 float로 변경하고 데이터형을 출력하여라
```
array([[51., 52., 53., 54., 55.],
       [56., 57., 58., 59., 60.],
       [61., 62., 63., 64., 65.],
       [66., 67., 68., 69., 70.],
       [71., 72., 73., 74., 75.],
       [76., 77., 78., 79., 80.]])
```
-------------------------------------  

dtype('float64')

In [29]:
# Q3의 배열 생성
array = np.arange(51, 81).reshape(6, 5)

# 자료형을 float로 변경
array_float = array.astype(float)
# array_float = np.array(array, dtype=float)

# 변경된 배열 출력
print(array_float)

# 데이터형 출력
print(array_float.dtype)

[[51. 52. 53. 54. 55.]
 [56. 57. 58. 59. 60.]
 [61. 62. 63. 64. 65.]
 [66. 67. 68. 69. 70.]
 [71. 72. 73. 74. 75.]
 [76. 77. 78. 79. 80.]]
float64

## Q5. 다음과 같이 넘파이 배열을 생성한 후 1차원 배열로 변경하고 슬라이싱하여라 

```
array([[ 1,  4,  5,  6],
       [56, 23, 45, 67],
       [ 8,  4,  6, 10]])
       
array([ 1,  4,  5,  6, 56, 23, 45, 67,  8,  4,  6, 10])


array([23, 45, 67,  8,  4,  6])
```

In [40]:
import numpy as np

# 1. 원본 2차원 배열 생성
original_array = np.array([[ 1,  4,  5,  6],
                           [56, 23, 45, 67],
                           [ 8,  4,  6, 10]])

print("원본 배열:")
print(original_array)
print()

# 2. 1차원 배열로 변경
flattened_array = original_array.flatten()

print("1차원으로 변경된 배열:")
print(flattened_array)
print()

# 3. 슬라이싱
sliced_array = flattened_array[5:11]

print("슬라이싱된 배열:")
print(sliced_array)

원본 배열:
[[ 1  4  5  6]
 [56 23 45 67]
 [ 8  4  6 10]]

1차원으로 변경된 배열:
[ 1  4  5  6 56 23 45 67  8  4  6 10]

슬라이싱된 배열:
[23 45 67  8  4  6]

## Q6. 다음과 같은 넘파이 배열을 생성한 후 아이템을 교체하여라 

```
array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

```

In [43]:
arr = np.array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])
arr[0] = 10
arr[7] = 0
arr[8] = 0
arr[9] = 0
print(arr)

[10  2  3  4  5  6  7  0  0  0]

## Q7. 2자리의 숫자로 구성된 넘파이 배열(5행5열)을 만들어라. 숫자는 난수를 이용한다. 

```
[[63 85 71 67 15]
 [31 81 69 17 97]
 [25 41 33 23 39]
 [39 43 59 33 43]
 [23 51 65 91 23]]

```

In [44]:
# 난수 시드 설정 (재현 가능성을 위해, 필수는 아님)
np.random.seed(0)

# 10부터 99까지의 난수로 이루어진 5x5 배열 생성
array = np.random.randint(10, 100, size=(5, 5))

print(array)

[[54 57 74 77 77]
 [19 93 31 46 97]
 [80 98 98 22 68]
 [75 49 97 56 98]
 [91 47 35 87 82]]

## Q8. 1~100 사이의 정수중 7개의 숫자를 무작위로 추출한 후 가장 큰값과 가장 작은 값을 출력하여라.
[91, 65, 14, 66, 65, 98, 34]

max = 98
min = 14

In [45]:
import numpy as np

# 난수 시드 설정 (재현 가능성을 위해, 필수는 아님)
np.random.seed(0)

# 1부터 100 사이의 정수 중 7개를 무작위로 추출
numbers = np.random.randint(1, 101, size=7)

# 추출된 숫자들 출력
print(numbers)

# 최대값과 최소값 계산
max_value = np.max(numbers)
min_value = np.min(numbers)

# 결과 출력
print(f"\nmax = {max_value}")
print(f"min = {min_value}")

[45 48 65 68 68 10 84]

max = 84
min = 10

## Q9. 다음과 같은 3개의 넘파이 배열을 생성한 후 다음과 같이 합쳐라
```
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]


[[11, 12, 13],
 [14, 15, 16],
 [17, 18, 19]]


[[21, 22, 23],
 [24, 25, 26],
 [27, 28, 29]]
```
 ----------
  Result1 
```
 [[ 1,  2,  3, 11, 12, 13, 21, 22, 23],
  [ 4,  5,  6, 14, 15, 16, 24, 25, 26],
  [ 7,  8,  9, 17, 18, 19, 27, 28, 29]] 
```

  ----------
  Result2
```
 [[ 1,  2,  3],
  [ 4,  5,  6],
  [ 7,  8,  9],
  [11, 12, 13],
  [14, 15, 16],
  [17, 18, 19],
  [21, 22, 23],
  [24, 25, 26],
  [27, 28, 29]]
```

In [53]:
a = np.arange(1,10).reshape(3,3)
b = np.arange(11,20).reshape(3,3)
c = np.arange(21,30).reshape(3,3)
'''
print(a)
print(b)
print(c)
'''

result1 = np.hstack((a,b,c))
print(result1)

result2 = np.vstack((a,b,c))
print(result2)

[[ 1  2  3 11 12 13 21 22 23]
 [ 4  5  6 14 15 16 24 25 26]
 [ 7  8  9 17 18 19 27 28 29]]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [11 12 13]
 [14 15 16]
 [17 18 19]
 [21 22 23]
 [24 25 26]
 [27 28 29]]

## Q10. 아래와 같이 넘파이 배열을 생성한 후 50보다 큰 숫자만 필터링하여라. 

```
arr = np.random.choice(100, 40, replace=False)

Before => 

[40, 63,  8,  2, 35, 84, 72, 48, 78, 86, 87, 58,  0, 49, 14, 55, 11,
       73, 39, 26, 75, 27, 99, 46, 25, 22, 34, 83, 24, 47, 31, 57, 62, 19,
       36, 15, 17, 10, 98, 90]

After =>

[63, 84, 72, 78, 86, 87, 58, 55, 73, 75, 99, 83, 57, 62, 98, 90]

```

In [61]:
arr = np.random.choice(100, 40, replace=False)
print(arr)

filtered_arr = arr[arr > 50]
print(filtered_arr)

[93 49 68 23  9 67 72 82 92 85 74 76 58 39 89 77 21 69  3 54 34  5 64 65
 25 24 71 40 63 42 19  8 80 16 94 12 33 52 29 31]
[93 68 67 72 82 92 85 74 76 58 89 77 69 54 64 65 71 63 80 94 52]

## Quiz11. 종합
```
kor = np.array( [60,55,70,30,20,90])
1. 국어점수가 가장큰값을 구하여라
2. 국어점수가 80점이상인 값을 구하여라
3. 국어 점수가 50점이상 80점 이하인 값을 구하여라
4. 국어점수의 평균을 구하여라
5. 국어점수의 총합을 구하여라.
6. 국어점수가 40점이하인 데이터를 삭제하여라
7. 국어점수가 50점이상인 데이터에 가산점 10%를 부여하여라
8. 국어점수 top 3를 구하여라
9. 국어점수가 70점이상이면 '합격' , 아니면 '불합격'으로 출력하라
```

In [65]:
import numpy as np

kor = np.array([60, 55, 70, 30, 20, 90])

# 1. 국어점수가 가장 큰 값을 구하여라
max_score = np.max(kor)
print("1. 최고 점수:", max_score)

# 2. 국어점수가 80점 이상인 값을 구하여라
scores_over_80 = kor[kor >= 80]
print("2. 80점 이상 점수:", scores_over_80)

# 3. 국어 점수가 50점 이상 80점 이하인 값을 구하여라
scores_50_to_80 = kor[(kor >= 50) & (kor <= 80)]
print("3. 50-80점 사이 점수:", scores_50_to_80)

# 4. 국어점수의 평균을 구하여라
average_score = np.mean(kor)
print("4. 평균 점수:", average_score)

'''mean()과 average() 함수:
NumPy에는 실제로 mean()과 average() 두 가지 함수가 있습니다.
np.mean()은 단순 산술 평균을 계산합니다.
np.average()는 가중 평균을 계산할 수 있습니다.


mean()의 장점:
더 간단하고 직관적입니다.
계산 속도가 약간 더 빠릅니다.
메모리 사용량이 더 적습니다.


average()의 특징:
가중치를 적용한 평균을 계산할 수 있습니다.
가중치를 지정하지 않으면 mean()과 동일한 결과를 제공합니다.


일반적인 사용:
단순 평균을 계산할 때는 주로 mean()을 사용합니다.
가중 평균이 필요한 특수한 경우에만 average()를 사용합니다.


일관성:
다른 통계 함수들(예: median(), std() 등)과 이름이 일관됩니다.'''

# 5. 국어점수의 총합을 구하여라
total_score = np.sum(kor)
print("5. 총점:", total_score)

# 6. 국어점수가 40점 이하인 데이터를 삭제하여라
kor_over_40 = kor[kor > 40]
print("6. 40점 초과 점수:", kor_over_40)

'''# 국어점수가 40점이하인 데이터를 삭제하여라
import copy
kor1 = kor.copy()
num = kor[kor<=40]
kor1, num, np.delete(kor1, np.where(kor<=40))'''

# 7. 국어점수가 50점 이상인 데이터에 가산점 10%를 부여하여라
kor_with_bonus = np.where(kor >= 50, kor * 1.1, kor)
print("7. 가산점 부여 후 점수:", kor_with_bonus)

# 8. 국어점수 top 3를 구하여라
top_3 = np.sort(kor)[-3:][::-1]
print("8. 상위 3개 점수:", top_3)

# 9. 국어점수가 70점 이상이면 '합격', 아니면 '불합격'으로 출력하라
result = np.where(kor >= 70, '합격', '불합격')
print("9. 합격/불합격 결과:", result)

1. 최고 점수: 90
2. 80점 이상 점수: [90]
3. 50-80점 사이 점수: [60 55 70]
4. 평균 점수: 54.166666666666664
5. 총점: 325
6. 40점 초과 점수: [60 55 70 90]
7. 가산점 부여 후 점수: [66.  60.5 77.  30.  20.  99. ]
8. 상위 3개 점수: [90 70 60]
9. 합격/불합격 결과: ['불합격' '불합격' '합격' '불합격' '불합격' '합격']

# Numpy Quiz Answer

## Q1. 다음과 같은 리스트를 이용하여 넘파이 배열을 만들고 전체 갯수, 차원, 데이터형, 구조를 출력하여라
```
['강아지', '원숭이', '꽃', '45', '100']
array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U3')
차원 ? 1
전체 갯수 ? 5
데이터형 ? <U3
전체 구조  ? (5,)
```

In [ ]:
import numpy as np

In [ ]:
a = np.array(['강아지', '원숭이', '꽃', 45, 100])
a, a.ndim, a.size, type(a), a.dtype, a.shape

(array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U11'),
 1,
 5,
 numpy.ndarray,
 dtype('<U11'),
 (5,))

## Q2. np.ones()를 이용하여 2행 3열의 넘파이 배열을 생성하여라
```
array([[1., 1., 1.],
       [1., 1., 1.]])
```

In [ ]:
np.ones( (2, 3) )

array([[1., 1., 1.],
       [1., 1., 1.]])

## Q3. np.arange(), np.reshape()를 이용하여 다음과 같은 넘파이 배열을 생성하여라
```
array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])
```

In [ ]:
arr = np.arange(51,81).reshape(6,5)
# np.arange(51,81).reshape(-1,5)
arr

array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])

## Q4. Q3의 넘파이 배열의 자료형을 float로 변경하고 데이터형을 출력하여라
```
array([[51., 52., 53., 54., 55.],
       [56., 57., 58., 59., 60.],
       [61., 62., 63., 64., 65.],
       [66., 67., 68., 69., 70.],
       [71., 72., 73., 74., 75.],
       [76., 77., 78., 79., 80.]])
```
-------------------------------------  

dtype('float64')

In [ ]:
arr = arr.astype(float)
arr.dtype

dtype('float64')

## Q5. 다음과 같이 넘파이 배열을 생성한 후 1차원 배열로 변경하고 슬라이싱하여라 

```
array([[ 1,  4,  5,  6],
       [56, 23, 45, 67],
       [ 8,  4,  6, 10]])
       
array([ 1,  4,  5,  6, 56, 23, 45, 67,  8,  4,  6, 10])


array([23, 45, 67,  8,  4,  6])
```

In [ ]:
arr2d = np.array([[ 1,  4,  5,  6], [56, 23, 45, 67], [ 8,  4,  6, 10]])
print(arr2d.flatten()[5:11])
print(arr2d.flatten()[5:-1])

[23 45 67  8  4  6]
[23 45 67  8  4  6]

## Q6. 다음과 같은 넘파이 배열을 생성한 후 아이템을 교체하여라 

```
array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

```

In [ ]:
arr = np.array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])
arr[0] = 10
arr[7:] = 0
arr

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

## Q7. 2자리의 숫자로 구성된 넘파이 배열(5행5열)을 만들어라. 숫자는 난수를 이용한다. 

```
[[63 85 71 67 15]
 [31 81 69 17 97]
 [25 41 33 23 39]
 [39 43 59 33 43]
 [23 51 65 91 23]]

```

In [ ]:
np.random.randint(10,99,25).reshape(5,5)
np.random.randint(10,99,(5,5))

array([[90, 30, 97, 56, 85],
       [14, 50, 44, 80, 53],
       [63, 61, 53, 76, 84],
       [44, 90, 12, 20, 21],
       [60, 58, 98, 57, 42]])

## Q8. 1~100 사이의 정수중 7개의 숫자를 무작위로 추출한 후 가장 큰값과 가장 작은 값을 출력하여라.
[91, 65, 14, 66, 65, 98, 34]

max = 98
min = 14

In [ ]:
num = np.random.randint(1,100,7)
num, np.max(num), np.min(num)

(array([71, 90,  9, 49, 55, 57, 34]), 90, 9)

## Q9. 다음과 같은 3개의 넘파이 배열을 생성한 후 다음과 같이 합쳐라
```
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]


[[11, 12, 13],
 [14, 15, 16],
 [17, 18, 19]]


[[21, 22, 23],
 [24, 25, 26],
 [27, 28, 29]]

 ----------
  Result1 

 [[ 1,  2,  3, 11, 12, 13, 21, 22, 23],
  [ 4,  5,  6, 14, 15, 16, 24, 25, 26],
  [ 7,  8,  9, 17, 18, 19, 27, 28, 29]] 


  ----------
  Result2

 [[ 1,  2,  3],
  [ 4,  5,  6],
  [ 7,  8,  9],
  [11, 12, 13],
  [14, 15, 16],
  [17, 18, 19],
  [21, 22, 23],
  [24, 25, 26],
  [27, 28, 29]]
```

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b = np.array([[11, 12, 13], [14, 15, 16], [17, 18, 19]])
c = np.array([[21, 22, 23], [24, 25, 26], [27, 28, 29]])

# result1 
result2 = np.hstack((a, b, c))

# result2 
result1 = np.vstack((a, b, c))

result1, result2

(array([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [11, 12, 13],
        [14, 15, 16],
        [17, 18, 19],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]]),
 array([[ 1,  2,  3, 11, 12, 13, 21, 22, 23],
        [ 4,  5,  6, 14, 15, 16, 24, 25, 26],
        [ 7,  8,  9, 17, 18, 19, 27, 28, 29]]))

## Q10. 아래와 같이 넘파이 배열을 생성한 후 50보다 큰 숫자만 필터링하여라. 

```
arr = np.random.choice(100, 40, replace=False)

Before => 

[40, 63,  8,  2, 35, 84, 72, 48, 78, 86, 87, 58,  0, 49, 14, 55, 11,
       73, 39, 26, 75, 27, 99, 46, 25, 22, 34, 83, 24, 47, 31, 57, 62, 19,
       36, 15, 17, 10, 98, 90]


After =>

[63, 84, 72, 78, 86, 87, 58, 55, 73, 75, 99, 83, 57, 62, 98, 90]


```

In [ ]:
# 중복없이, 100까지 숫자중 40개를 추출가능, randint는 중복생김
n = np.random.choice(100, 40, replace=False)
# 50보다 큰 숫자만 필터링
n, n[np.where(n>50)] , n[n>50]

(array([51,  4, 39, 64, 16, 85, 86, 88, 56, 76, 70, 15, 18,  5, 40, 25, 23,
        62, 57, 11, 28, 47, 52, 49, 54, 83, 35, 96, 46, 53, 81, 82, 34, 97,
        59, 84, 67, 27,  6, 42]),
 array([51, 64, 85, 86, 88, 56, 76, 70, 62, 57, 52, 54, 83, 96, 53, 81, 82,
        97, 59, 84, 67]),
 array([51, 64, 85, 86, 88, 56, 76, 70, 62, 57, 52, 54, 83, 96, 53, 81, 82,
        97, 59, 84, 67]))

## Quiz11. 종합
```
kor = np.array( [60,55,70,30,20,90])
1. 국어점수가 가장큰값을 구하여라
2. 국어점수가 80점이상인 값을 구하여라
3. 국어 점수가 50점이상 80점 이하인 값을 구하여라
4. 국어점수의 평균을 구하여라
5. 국어점수의 총합을 구하여라.
6. 국어점수가 40점이하인 데이터를 삭제하여라
7. 국어점수가 50점이상인 데이터에 가산점 10%를 부여하여라
8. 국어점수 top 3를 구하여라
9. 국어점수가 70점이상이면 '합격' , 아니면 '불합격'으로 출력하라
```

In [ ]:
kor = np.array( [60,55,70,30,20,90])

In [ ]:
# 국어 점수가 가장 큰값
max(kor)

90

In [ ]:
# 국어점수가 80점이상인 값을 구하여라
kor[(kor>=80)]

array([90])

In [ ]:
#  국어 점수가 50점이상 80점 이하인 값을 구하여라
kor[(kor>= 50) & (kor <=80)]

array([60, 55, 70])

In [ ]:
# 국어점수의 평균을 구하여라
np.average(kor), round(kor.mean(),3)

(54.166666666666664, 54.167)

In [ ]:
# 국어점수의 총합을 구하여라.
np.sum(kor)

325

In [ ]:
# 국어점수가 40점이하인 데이터를 삭제하여라
import copy
kor1 = kor.copy()
num = kor[kor<=40]
kor1, num, np.delete(kor1, np.where(kor<=40))

(array([60, 55, 70, 30, 20, 90]), array([30, 20]), array([60, 55, 70, 90]))

In [ ]:
# 국어점수가 50점이상인 데이터에 가산점 10%를 부여하여라
np.where(kor>=50, kor*1.1, kor )

array([66. , 60.5, 77. , 30. , 20. , 99. ])

In [ ]:
# 국어점수 top 3를 구하여라
np.sort(kor)

array([20, 30, 55, 60, 70, 90])

In [ ]:
np.sort(kor)[::-1]

array([90, 70, 60, 55, 30, 20])

In [ ]:
np.argsort(kor)[::-1][:3]

array([5, 2, 0], dtype=int64)

In [ ]:
# 국어점수 top 3를 구하여라
np.sort(kor)[::-1][:3], kor[np.argsort(kor)[::-1][:3]] # 인덱스값으로 실제 값 출력

(array([90, 70, 60]), array([90, 70, 60]))

In [ ]:
# 국어점수가 70점이상이면 '합격' , 아니면 '불합격으로' 아래와 같이 출력하시요
kor, np.where(kor>=70, "합격", "불합격")

(array([60, 55, 70, 30, 20, 90]),
 array(['불합격', '불합격', '합격', '불합격', '불합격', '합격'], dtype='<U3'))